/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
  }
  
  /* Close Button */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  /* Form Styling */
  .forget-password-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  
  
  .forget-password-input {
    margin: 5px auto;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
  }
  
  .forget-password-update-btn {
    background-color: #397fdd;
    color: white;
    padding: 12px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .forget-password-update-btn:hover {
    box-shadow: 0px 0px 10px -2px #397fdd;
  }
  