.item-card>span>div>svg{
  height:100px;
  width:100px;
  
    font-size: xx-large;
}
.item-card>span>div{
    margin: auto 5px;
}
.item-card>span{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    cursor:pointer;
    border: 1px solid;
    margin:5px 5px;
    border-radius: 10px;
}
.item-card>span>p{
    width: fit-content;
    max-width: 500px;
    min-width: 82px;
    border: 1px solid;
    word-wrap: break-word;
    margin-bottom: 10px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;

}
.item-card{
    text-wrap:wrap;
    text-align: start;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    padding: 10px;
}
.item-card>span:hover{
    background-color: rgb(204, 222, 228);
}