.App {
  min-height: 75vh;
  max-height: 75vh;
  max-width: 100%;
  min-width: 450px;
  margin: 0px auto auto 0;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.left_pannel{
  min-height: 75vh;
  max-height: 75vh;
  max-width: 59%;
  min-width: 59%;
  overflow-y: scroll;
  box-shadow: 0px 0px 10px -2px #b6b8b9;
}
.left_pannel>h3{
  margin-top:5%;
}
.right {
  /* border:1px solid red; */
  position: absolute;
  right: 10px; 
  z-index: 0;
  min-height: 75vh;
  max-height: 75vh;
  min-width: 40%;
  max-width:30%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  justify-content: space-between;
  box-shadow: 0px 0px 10px -2px #b6b8b9;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.right_chat{
  padding: 15px;
 min-width: 95%;
  text-align: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  min-height: 71vh;
  max-height: 71vh;
}
.right_chat::-webkit-scrollbar{
  box-shadow: 0px 0px 10px -2px #28a3e0;

}
.right_chat::-webkit-scrollbar-button{
  background-color: #b6b8b9;
}
.right_chat::-webkit-scrollbar-thumb{
  background-color: #d7dadb;
  scroll-behavior: smooth;
}
.right_chat_1{

  display: flex;
  align-items: flex-end;
  justify-items: end;
  padding: 10px;
  max-width: 90%;
  min-width: 40px;
  overflow-wrap: anywhere;
  max-height: fit-content;
  text-wrap:wrap;
  margin: 12px 0px 10px 32px;
  text-align: justify;
  border-radius: 10px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 0px 10px -2px #28a3e0;
  flex-direction: column;
}

.right_chat_1>span{
  margin-top: 30px;
  font-size: small;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #686969;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;

}
.dragEnter{
  background-color: #28a3e0d5;
}
#elobrateInputFromDjango{
  padding:10px;
  width: 250px;
  height: 191px;
  resize: vertical;
}
@media only screen and ((min-width: 0px) and (max-width : 460px)) {
.right{
  max-width: 100%;
  min-width: 90%;
  min-height: 76vh;

}  
.left_pannel{
  display: none;
}
.App{
  max-width: 100%;
  min-width: 100%;
  border: 1px solid ;
  min-height: 76vh;
}

}
@media only screen and ((min-width: 460px) and (max-width : 900px)) {
  .App {
    min-height: 73vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 75vh;
  }
  .right{
    min-width: 96%;
    max-width: 100%;
  }
  .left_pannel{
    display: none;
  }
  .right_chat_1>span{
    font-size: 11px;
  }
  .right_chat_1{
    
    display: flex;
    align-items: flex-end;
    justify-items: end;
    padding: 10px;
    max-width: 80%;
    min-width: 40px;
    text-wrap:wrap;
    margin: 12px 0px 10px 32px;
    text-align: justify;
    border-radius: 10px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 0px 10px -2px #28a3e0;
  }
}
