*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html{
    min-width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-height: 100vh;
}
body{
    min-width: 100%;
    overflow: hidden;
    min-height: 100vh;
    max-height: 100vh;
}

iframe
{
    display: none;
}
#root,#root>div{
    min-height: 100vh;
    max-height: 100vh;
}
