.Dashboard-Component-1{
    padding:10px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
}
.Dashboard-Component-1>div{
    margin-left: 10px;

}
.Dashboard-Component-OnlineUserCount{
    width: 60%;
}
.Dashboard-Heading{
    font-size:xx-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 40px;
    margin: 30px auto;
}
.Dashboard-Components-Online-Account-Details-Table{
    padding: 20px;
    /* border: 1px solid blue; */
    width: 100%;
    text-align: start;
    align-items: start;
    justify-content: start;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
}
.Dashboard-Components-Online-Account-Details-Table>thead>tr>th,.Dashboard-Components-Online-Account-Details-Table>tbody>tr>td{
    /* border:1px solid blue; */
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
.Dashboard-Components-Online-Account-Details-Table>tbody>tr:hover{
    background-color: rgb(125, 120, 120);
    color: rgb(244, 244, 244);

}
