.totalAccounts-metrics{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(225, 225, 226);
    padding: 10px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.totalAccounts-metrics>p{
    margin: 3px;
}
.totalAccounts-metrics-count{
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}