.footer-main{
    padding: 0 10px;
    box-sizing: border-box;
    align-items: center;
    text-align: justify;
    box-shadow: 0px -1px 12px -8px;
    font-size: medium;
    min-height: 12%;
    max-height: 12%;
    max-width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    background-color: white;
    justify-content:space-evenly;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn-clips-mobile{
    display:none !important;

   }
.prompt_bar>div>span>button{
    padding: 10px;
    min-width: 50px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px -2px #b6b8b9;
    border: none;
    font-size: medium;
    margin: 0 10px;
    cursor: pointer;
    background-color: rgb(244, 243, 243);
}
.suggestion_btn_down>span>button{
    padding: 10px;
    min-width: 50px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px -2px #b6b8b9;
    border: none;
    font-size: medium;
    margin: 0 10px;
    cursor: pointer;
    background-color: rgb(244, 243, 243);
}
.suggestion_btn_down>div>span>button:hover{
    box-shadow: 0px 0px 10px -2px #397fdd;
}
.suggestion_btn_down>span>button:hover{
    box-shadow: 0px 0px 10px -2px #397fdd;
}
.prompt_bar>span>button:hover{
    box-shadow: 0px 0px 10px -2px #397fdd;
}
.prompt_bar>div>span>button:active{
    background-color: #397fdd;
    color: rgb(244, 243, 243);
    box-shadow: 0px 0px 10px -2px rgb(244, 243, 243);

}
.prompt_bar{
    min-width: 65%;
    max-width: 100%;
    display: flex;
    flex-direction: row;

    justify-content: right;
    /* border: 1px solid blue; */
    margin: 0 10px;
    margin-bottom: 10px;
    
}
.prompt_bar_input{
    margin-right: 350px;
}
.prompt_bar>div{
    flex-wrap: nowrap !important;
}
.prompt_bar>div>input{
    border: none;
    box-sizing: border-box;
    min-width: 200%;
    max-width:100%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 10px -2px #b6b8b9;
    padding-left: 20px;
}
.prompt_bar>div>input:hover{
    box-shadow: 0px 0px 10px -2px #397fdd;
}
.prompt_bar>div>input::placeholder{
   padding-left: 10px;
  font-size: small;

}
.prompt_bar>div>input:focus-visible{
   border: none;
   color:#397fdd;
   box-shadow: 0px 0px 10px -2px #397fdd;
   outline: none;
   padding-left: 10px;
   font-size: medium;
}
.suggestion_pannel{
    display: flex;
    position:absolute;
    align-items: center;
    left: 41%;
    bottom:10%;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0px 0px 10px -2px #397fdd;
    justify-content: space-between;
    max-width: 30%;
    min-width: 30%;
    max-height: fit-content;
    min-height: 5%;
}
.suggestion{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
}
.suggestion_btn_down>span{
    padding: 0px !important;
    margin: 0px  10px !important;
    min-width:30px !important;

}
.suggestion_items{
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 10px -2px #89a8d0;
    padding: 5px;
    margin: 5px 5px;
    cursor: pointer;
    border-radius: 5px;
}
@media only screen and (max-width :  1216px ) {
    .footer-main{
        display: flex;
        flex-direction: column-reverse;
        max-width: 100%  !important;
        font-size: small;
    }
 
}
@media only screen and (max-width :  900px ) {
    .footer-main{
        display: flex;
        flex-direction: column-reverse;
        max-width: 100%  !important;
        font-size: small;
    }
    .prompt_bar{
        
        margin: 10px auto;
        align-items: center;
        justify-content: left;
    }
    .prompt_bar>div{
    min-width: 25%;

        margin:0;
    }
    .prompt_bar>div>input{
        min-width: 100%;
        padding: 10px;

    }
   
    .btn-clips{
        display: none !important;
    }
    .btn-clips-mobile{
        margin-left: -50px !important;
        display: flex !important;
       }
}
@media only screen and ((min-width: 320px) and (max-width : 460px)) {
    .prompt_bar>div>span>button{
        padding: 5px;
        min-width: 5px;
    }
    .footer-main{
       
        display: flex;
        flex-direction: column-reverse;
        max-width: 100%  !important;
        font-size: small;
    }
    .prompt_bar{
        max-width: 50%;
        margin: 5px auto;
        align-items: center;
        justify-content: left;
    }
    .prompt_bar>div{
        min-width: 23% !important;
    }
    .right {
       min-width: 95% !important; 
       max-width: 950% !important;
    }
   .btn-clips-mobile{
    margin-left: -50px !important;
    display: flex !important;
   }
   .sendBtn{
    align-items: center;
    display: flex;
    margin: auto;
   }
}
